# Dependency directories
/node_modules
/bower_components

# Testing and Coverage
/coverage
/.nyc_output
/test-results.xml

# Runtime data
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production/Distribution files (Built Assets)
# Zure proiektua konpilatzen edo biltzen bada (webpack edo vite erabiliz)
/dist
/build

# Editor settings and temporary files
.vscode/
.idea/
.DS_Store
Thumbs.db
